 @model List<AboutInfo>
<main id="main">  
<!-- ======= About Section ======= -->      <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a asp-controller="Home"asp-action="Index">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul>
            <div class="row icon-boxes">
             @foreach (AboutInfo item in Model)
              {
              <div class="col-md-6 @(item.Order>1 ? "mt-4 mt-md-0":"")">
                <i class="bx @item.Icon"></i>
                <h4>@item.Name</h4>
                <p>@item.Article</p>
              </div>                           
              }
              
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
 </main><!-- End #main -->